.App {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@font-face {
    font-family: "New Athletic";
    src: url("./fonts/New\ Athletic\ M54.ttf");
}

@font-face {
    font-family: "Sports Jersey";
    src: url("./fonts/sportsjersey.ttf");
}

.title {
    font-family: "New Athletic";
}

h2 {
    font-family: "Sports Jersey";
}
